Django==5.2.2
asgiref==3.8.1
boto3==1.35.96
botocore==1.35.96
cloudinary==1.42.1
dj-database-url==2.3.0
django-cloudinary-storage==0.3.0
django-dotenv==1.4.2
django-storages==1.14.4
django-tinymce==4.1.0
gunicorn==23.0.0
jmespath==1.0.1
pillow==11.1.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0
python-dotenv==1.0.1
pytz==2024.2
s3transfer==0.10.4
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
whitenoise==6.8.2