{% extends 'base.html' %}
{% load static %}
{% block extra_css %}<link href="{% static 'assets/css/blog.css' %}?v=20260921-blog2" rel="stylesheet">{% endblock %}

{% block single %}
  <article class="section blog-detail blog-width-{{ article.content_width }}">
    <div class="container">
      <div class="blog-article-column">
        <header class="blog-article-header">
          <h1>{{ article.title }}</h1>
        </header>
        <div class="blog-article-content project-content">
          {{ article.content|safe }}
        </div>
        <div class="blog-article-meta">
          <time datetime="{{ article.created_date|date:'Y-m-d' }}">{{ article.created_date|date:'F j, Y' }}</time>{% if article.total_read_time %}<span> · {{ article.total_read_time }} min read</span>{% endif %}
        </div>
      </div>
    </div>
  </article>
{% endblock %}
